<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<style>
.container {
  background: white;
  display: inline-block;
  border: 1px dotted black;
}
.grid {
  display: grid;
  grid-template-columns: repeat({{ .Size }}, 10px);
  grid-template-rows: repeat({{ .Size }}, 10px);
  grid-gap: 1px;
}
.cell {
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 4pt;
  font-weight: bold;
  background: white;
}
.legend {
    font-size: 6pt;
}
.main {
  margin-left: 10px;
  padding: 0px 10px;
}
</style>
    </head>
    <body>
        <div class="main">
  <div class="container">
  <div class="grid" id="grid">{{ range $idx, $id := .Cells }}
      <div class="cell" style="{{ $id.Style }}" id="{{ $id.ID }}">{{ $id.Value }}</div>{{ end }}
  </div>
</div>
<div class="legend">
    <br />---<br />
        {{ range $idx, $legend := .Legend }}{{ $legend }}
        <br />{{ end }}
</div>
        </div>
    </body>
</html>
